<div style="text-align: center">
  <h1>Let's Play NYU Anatomy Quips!</h1>
  <i>Session ID: {{session_key}}</i>
  <br>
  <br>
  <div class="jumbotron">
    <h2>Current Lesson: {{current_term.lesson}}</h2>
    <h3>What do you know about: <b>{{current_term.term}}</b><h3>
  </div>
</div>
