<div style="text-align: center; padding-top: 100px">
  <hr>
  <h1>Start a New Quiz Session!</h1>
  <br>
  <a class="btn btn-primary" href="/api/newsession">Create a New Session</a>
  <hr>
</div>
