<div style="text-align: center">
  <h1>Start a New Quiz Session!</h1>

  <a class="btn btn-primary" href="/api/newsession">Create a New Session</a>

  <hr>
  <h1>Join a Friend's Session</h1>
  <input type="text" placeholder="Session Code Here"></input>
</div>
