<div style="text-align: center">
  <h1>Welcome to NYU Anatomy Quips!</h1>
  <i>Session ID: {{session_key}}</i>
  <br>
  <br>
  <a class="btn btn-primary" href="{{session_key}}/gameon">Let's Play!</a>
</div>
